LOCAL_UID=1000
LOCAL_GID=1000

WEB_PORT=8080
NODE_PORT=5280
MYSQL_PORT=3310
MONGO_PORT=27020
REDIS_PORT=6390

MYSQL_DATABASE=nuvede
MYSQL_USER=nuvede
MYSQL_PASSWORD=
MYSQL_ROOT_PASSWORD=

MONGO_DATABASE=nuvede
MONGO_USER=nuvede
MONGO_PASSWORD=
MONGO_ROOT_USER=nuvede_admin
MONGO_ROOT_PASSWORD=

REDIS_PASSWORD=
