APP_NAME=Nuvads
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=https://app.nuvads.test:8443

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=nuvads_testing
DB_USERNAME=nuvads_testing
DB_PASSWORD=
DB_URL=
DB_SOCKET=

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
MAIL_MAILER=array
LOG_CHANNEL=null

GOOGLE_CLIENT_ID=testing-client
GOOGLE_CLIENT_SECRET=testing-secret
GOOGLE_REDIRECT_URI="${APP_URL}/auth/google/callback"
