*.log
/.env
/.env.backup
/.env.production
/.env.docker
/.env.testing
/.phpunit.cache/
/vendor/
/node_modules/
/docker/mysql/data/
/docker/mongo/data/
/docker/mongo/config/
/docker/redis/data/
/docker/nginx/certs/
/public/build/
/public/hot
/public/storage
/storage/*.key
/auth.json
.DS_Store
